/* Seletor de todos os elementos */
*{
    margin: 0;
}

h3{
    color: rgb(240, 216, 216) ;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
}

/*seletor de classe*/
.texto{
    /* altera a cor do texto */
    color: white;
    /* altera o tamanho do texto */
    font-size:50px;
    /* altera a posição do texto horizontamente */
    text-align: center;
    /* Define a fonte do texto */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* altera o peso do texto */
    font-weight: 300;
    /* altera a decoração do texto */
    text-decoration: underline;
}
/*seletor de id*/

#texto{
    color:cadetblue;
    text-align: end;
    font-size: 70px;
}

.box{
   /* Define a largura/vw */
    width: 20vw;
    /* define a altura/vh */
    height: 20vh;
    /* define o espaço externo - margem */
    margin-top: 50px 50px 50px 50px;
    /* define o espaço interno */
    padding: 60px;
    /* define a borda */
    border: 1px solid green;
}
.position{
    /* A forma de posicionamento */
    display: flex;
    /* posicionar verticaltamente */
    align-items: center;
    /* posicionar horizontamente */
    justify-content: center;
}
.position2{
   /* NÂO USA ISSO */
    color: white;
    position: absolute ;
    top: 10px;
    right: 10px;
}
body{
   /* define a cor do fundo */
    background-color: black;
    /* altera o fundo */
    background-image:url(https://media.istockphoto.com/id/113494458/pt/foto/fogo-isolado-no-fundo-preto.jpg?s=612x612&w=0&k=20&c=y415H7w9huMhi3LOBEUdHkc2rpbNs8_GeX3uD5lX-a8=);
    /* define as repetições da imagem de fundo */
    background-repeat: no-repeat;
   /* posição da imagem de fundo */
    background-position: center;
    /* tamanho da imagem de fundo */
    background-size: cover;
}

.visuais{
    background-color: blue;
    /* opacidade do elemento(quão transparente ele é) */
    opacity: 75%;
    /* adiciona sombra- y, x, blur, spreand */
    box-shadow: 100px 50px 100px 100px;
    /* arredonda o elemento */
    border-radius: 1000px;
    /* transforma o elemento - rotacionar */
    transform: rotate(0.8turn);
    transition: 10s, transform 2s ;
}
.visuais:hover{
    width: 1000px;
    height: 1000px;
    background-color: rgb(226, 43, 67);
    transform: rotate(10.8turn);
}
.cursor{
    overflow: auto;
    overflow-x: hidden;
    cursor:sw-resize ;
}